html {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
}

body,
main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a {
    padding: 0 30px 0 30px;
    text-decoration: none;
}

table,
td,
th {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid purple;
    width: 50%;
}

td,
th {
    padding: 10px;
    text-align: left;
}

footer {
    display: flex;
    flex-direction: row;
}

main section:first-child {
    width: 100%;
    align-content: start;
    margin-bottom: 20px;
}

article {
    width: 100%;
}

article table {
    width: 100%;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6px;
    margin: 6px;
}

form textarea {
    border: 1px solid purple;
    border-radius: 5px 5px 0 0;
    padding: 6px;
}

form div:first-child input {
    border: 1px solid purple;
    border-radius:5px;
    padding: 5px;
}

form div:last-child input {
    width: 100%;
    border: 1px solid purple;
    border-top: unset;
    border-radius: 0 0 5px 5px;
    padding: 6px;
}

aside {
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    background-image: linear-gradient(to right, #5f1e9b, #7f41c2);
}

aside p,
aside h3 {
    color: white;
    margin: 0;
}

main section:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

main section:last-child div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main section:last-child div div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    padding: 10px;
}

main section:last-child h3 {
    border-bottom: 1px solid purple;
    width: 90%;
}
